* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 400px;
    height: 700px;
    border: 2px solid;
    border-radius: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}